:root {
    --X: #bedb39;
    --O: #fd7402;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #014d64;
}

#gameboard {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: white;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #014d64;;
}

